@import url('https://fonts.googleapis.com/css2?family=Itim&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    margin: 0 auto;
    padding: 0 300px;
    background: #F8F3ED;
    background: url("img/bg.jpg") no-repeat;
    background-size: cover;
}

/* nav section start */
.nav_section{
    width: 100%;
    height: 120px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_section .nav_logo img{
    width: 200px;
}

.nav_section .nav_menu ul{
    list-style: none;
    display: flex;
    gap: 100px;
    font-size: 20px;
}

.nav_section .nav_menu ul li a{
    color: #8C4448;
    text-decoration: none;
}

.nav_section .nav_menu ul li a:hover{
    color: #000000;
    transition: 0.3s;
}

.nav_section .nav_sign {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav_section .nav_sign button{
    padding: 15px 30px;
    color: #8C4448;
    background-color: #F8F3ED;
    font-size: 17px;
    border: none;
    font-weight: 600;
}

.nav_section .nav_sign button:hover{
    color: #000000;
    transition: 0.3s;
}

.nav_section .nav_sign .nav_btn{
    padding: 15px 30px;
    background: #8C4448;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    font-size: 17px;
}
.nav_section .nav_sign .nav_btn:hover{
    background: #000000;
    color: #ffffff;
    transition: 0.3s;
}
/* nav section end */

/* hero section start */
.hero_section{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8C4448;
    gap: 20px;
}

.hero_section .hero_text h1{
    font-size: 105px;
    margin-bottom: 20px;
    line-height: 1.2;
    color: #331616;
}

.hero_section .hero_text p{
    font-size: 15px;
    max-width: 700px;
}

.hero_section .hero_text .hero_search{
    margin-top: 40px;
    display: flex;
}

.hero_section .hero_text .hero_search img{
    width: 150px;
}

.hero_section .hero_text .hero_search .hero_enter h3{
    margin: 15px;
    font-size: 20px;
    margin-top: 10px;
    color: #331616;
}

.hero_section .hero_text .hero_search .hero_enter input{
    position: absolute;
    padding: 15px 20px;
    font-size: 16px;
    background: #ffffff;
    border: none;
    border-radius: 30px;
    width: 500px;
}

.hero_section .hero_text .hero_search .hero_enter button{
    position: relative;
    padding: 13px 40px;
    background: #8C4448;
    color: #ffffff;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 17px;
    left: 402px;
}
.hero_section .hero_text .hero_search .hero_enter button i{
    font-weight: 600;
    color: #ffffff;
    background: #8C4448;
}

.hero_section .hero_img img{
    width: 500px;
}

/* hero section end */

/* medals section start */
.medals_section{
    width: 100%;
    height: 300px;
    background-color: #8C4448;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medals_section .medal{
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 0 50px;
}

.medals_section .medal img{
    width: 120px;
}

.medals_section .medal_text{
    width: 400px;
    color: #F8F3ED;
    margin-left: 70px;
    font-size: 20px;
}

.medals_section .medal_text button{
    font-size: 20px;
    color: #F8F3ED;
    background-color: #8C4448;
    border: none;
}
/* medals section end */

/* about section start */
.about_section{
    width: 100%;
    height: 550px;
    padding: 100px 300px;
    gap: 20px;
    text-align: center;
    background-color: #E6D4D4;
}

.about_section h2{
    font-size: 60px;
    margin-bottom: 20px;
    color: #331616;
}

.about_section p{
    font-size: 20px;
    max-width: 1000px;
    margin: 0 auto;
    color: #331616;
}

.about_section .about_cards{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.about_section .about_cards .card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about_section .about_cards .card .card_circle{
    width: 60px;
    height: 60px;
    background-color: #8C4448;
    border-radius: 50%;
}

.about_section .about_cards .card .card_circle i{
    color: #ffffff;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
}

.about_section .about_cards .card .text h1{
    font-size: 50px;
    color: #331616;
    margin-bottom: 10px;
}

/* about section end */

/* quote section start */
.quote_section{
    display: flex;
    padding: 0 300px;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.quote_section .quote_text{
    max-width: 800px;
    color: #331616;
}

.quote_section .quote_text h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.quote_section .quote_text p{
    font-size: 22px;
    margin-bottom: 30px;
}

.quote_section .quote_text .quote_text2{
    background-color: #E6D4D4;
    width: 800px;
    height: 200px;
    padding: 60px 70px;
    border-radius: 20px;
}

.quote_section .quote_text .quote_text2 i{
    position: absolute;
    right: 300px;
    top: 2280px;
    font-size: 80px;
    color: #8C4448;
    margin-bottom: 10px;
}

.quote_section .quote_text .quote_italic{
    font-size: 40px;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 5px;
}

.quote_section .quote_img img{
    width: 550px;
}

.quote_logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

.quote_logos img{
    width: 200px;
}
/* quote section end */

/* media */
@media (max-width: 1440px) {
    .container {
        padding: 0 150px;
    }

    /* nav section */
    .nav_section .nav_menu ul {
        gap: 20px;
        font-size: 18px;
    }

    /* quote section */
    .quote_section {
        padding: 0 30px;
        text-align: center;
        position: relative;
    }
    
    .quote_section .quote_text .quote_text2 i {
        position: absolute;
        right: 150px;
        top: 310px;
        font-size: 70px;
    }

}
@media (max-width: 1024px) {
    .container {
        padding: 0 50px;
    }

    /* nav section */
    .nav_section .nav_menu ul {
        gap: 20px;
        font-size: 18px;
    }

    .nav_section .nav_sign{
        display: none;
    }

    /* hero section */
    .hero_section {
        flex-direction: column;
        height: auto;
        width: auto;
        padding: 60px 0;
        text-align: center;
    }
    
    .hero_section .hero_text h1{
        font-size: 80px !important;
    }

    .hero_section .hero_img img {
        width: 400px !important;
    }

    .hero_section .hero_text .hero_search{
        display: none;
    }

    /* medals section */
    .medals_section {
        flex-direction: column;
        height: auto;
        padding: 40px 0;
    }

    .medals_section .medal {
        flex-wrap: wrap;
        gap: 40px;
    }

    .medals_section .medal{
        padding-bottom: 50px;
    }

    .medals_section .medal_text{
        text-align: center;
        width: 70%;
    }

    /* about section */
    .about_section {
        padding: 50px 20px;
        height: auto;
    }

    .about_section h2 {
        font-size: 40px;
    }

    .about_section .about_cards {
        flex-direction: column;
        gap: 40px;
    }

    /* quote section */
    .quote_section {
        padding: 0 30px;
        flex-direction: column;
        text-align: center;
        position: relative;
    }

    .quote_section .quote_img img {
        width: 90%;
    }

    .quote_section .quote_text h1 {
        font-size: 40px;
    }

    .quote_section .quote_text .quote_text2 {
        width: 100%;
        height: auto;
        padding: 30px;
    }

    .quote_section .quote_text .quote_text2 i {
        position: absolute;
        right: 150px;
        top: 1110px;
        font-size: 50px;
    }

    .quote_logos {
        flex-wrap: wrap;
        gap: 30px;
    }

    .quote_logos img {
        width: 120px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 30px;
    }
    /* nav section */
    .nav_section {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .nav_section .nav_menu{
        display: none;
    }

    .nav_section .nav_logo img{
        padding-top: 20px;
    }

     /* hero section */
    .hero_section .hero_text h1 {
        font-size: 50px !important;
    }

    /* medals section */
    .medals_section .medal .m3{
        margin-left: 80px;
    }

    .medals_section .medal_text{
        margin-right: 80px;
    }

    /* about section */
    .about_section h2 {
        font-size: 32px;
    }

    /* quote section */
    .quote_section .quote_text .quote_text2 i {
        position: absolute;
        right: 100px;
        top: 910px;
        font-size: 50px;
    }
}